@use '@angular/material' as mat;
@import 'primeicons/primeicons.css';
@import url('./app/shared/styles/_fonts.scss');
@import url('./app/shared/styles/_variables.scss');
@import url('./app/shared/styles/_reset_primeng.scss');
@import url('./app/shared/styles/_reset.scss');


html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--font-family-base);
  margin: 0;
  height: 100%;
}

.p-progress-spinner circle {
  stroke: var(--primary-text-color-light);
}
