<div class="tool-card">
  <div class="translater_header">
    <h1 class="translater_title">Переводчик</h1>
    <p class="translater_subtitle">Автоопределение входного языка, перевод на русский язык</p>
  </div>

  <div class="translate-grid">
    <section class="panel">
      <div class="panel-title">
        <p-chip label="auto" class="chip-item" />
      </div>

      <p-floatlabel variant="on" class="prime-field full-width textarea-field">
        <textarea
          pTextarea
          id="source_text"
          name="source_text"
          class="full-width custom-textarea-scroll"
          rows="14"
          [(ngModel)]="text"
          placeholder="Вставьте текст для перевода"
          style="resize: none"
        ></textarea>

        <label for="source_text">Исходный текст</label>
      </p-floatlabel>
    </section>

    <section class="panel">
      <div class="panel-title">
        <p-chip [label]="targetLang || 'ru'" class="chip-item" />
      </div>

      <p-floatlabel variant="on" class="prime-field full-width textarea-field">
        <textarea
          pTextarea
          id="result_text"
          name="result_text"
          class="full-width custom-textarea-scroll"
          rows="14"
          [ngModel]="result"
          readonly
          placeholder="Здесь появится перевод"
          style="resize: none"
        ></textarea>

        <label for="result_text">Результат</label>
      </p-floatlabel>
    </section>
  </div>

  <div class="meta-row">
    <span><span class="detected-language">Определённый язык:</span> {{ sourceLang || '—' }}</span>
    <span><span class="target-language">Целевой язык: {{ targetLang || 'ru' }}</span></span>
  </div>

  <div class="actions">
    <button matButton="filled" (click)="translate()" [disabled]="loading || !text.trim()">
      Перевести
    </button>

    <button matButton="outlined" type="button" (click)="clear()" [disabled]="loading">
      Очистить
    </button>

    <button matButton="outlined" type="button" (click)="copyResult()" [disabled]="!result">
      {{ copied ? 'Скопировано' : 'Копировать результат' }}
    </button>

    @if (loading) {
      <mat-spinner diameter="28"></mat-spinner>
    }
  </div>

  @if (error) {
    <div class="error">
      {{ error }}
    </div>
  }
</div>
