.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background: var(--bg-gradient-base);
  border-bottom: 1px solid #e0e0e0;
  height: 100px;
  color: var(--light-text-color);
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.header__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  height: 65px;
  width: auto;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 24px rgba(255, 255, 255, 0.7));
}

.header__title {
  margin: 0;
  font-size: 30px;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-base);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 24px rgba(255, 255, 255, 0.7));
}
