:root {
  --dark-text-color: #000;
  --light-text-color: #fff;
  --default-chips-color: #d6d6d6;
  --light-grey-text-color: #bebebe;
  --super-light-grey-text-color: #f1f1f1;
  --table-row-color: #fcfcfc;
  --hover-select-color: #f3f3f3;
  --select-color-light: #f6f6f6;
  --grey-text-color: #737373;
  --placeholder-dark-color: #252b42;
  --primary-text-color: #2d4051;
  --primary-text-color-opacity: rgb(45 64 81 / 70%);
  --primary-text-color-light: #4c6e8b;
  --primary-text-color-light-hover: #1976d2;
  --primary-text-color-rgb: rgb(45 64 81);
  --active-select-color: rgb(229 231 235);
  --accent-text-color: #c4b375;
  --yellow-color: #fdd836;
  --unread-notification-color: rgb(76 110 139 / 10%);
  --error-text-color: rgb(224 124 124);
  --accent-color-success: rgb(92 161 93);
  --shadow-color: rgb(0 0 0 / 15%);
  --light-shadow-color: rgb(0 0 0 / 5%);
  --font-family-base: 'Roboto', sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-size-small: 13px;
  --font-size-table: 14px;
  --font-size-prewiew: 15px;
  --font-size-detail: 16px;
  --font-size-medium: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-large-title: 40px;
  --bg-light-grey: #dae6f0;
  --bg-gradient-base: linear-gradient(to right, #1f2c38 0%, #1f2c38 30%, #5986a3 100%);
  --bg-gradient-base-light: linear-gradient(to right, #2a3a47 0%, #2a3a47 30%, #6fa1c3 70%);
  --bg-gradient-base-red: linear-gradient(to right, #000 0%, #000 30%, #ff1a1a 100%);
  --bg-gradient-grey: linear-gradient(135deg, #1a1b1e 0%, #2b2e33 35%, #6b727c 100%);
  --bg-gradient-base-reverse: linear-gradient(to left, #1f2c38 0%, #1f2c38 20%, #5986a3 100%);
  --overlay-gradient: linear-gradient(to bottom, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 40%) 100%);
}
